  .container {
    margin-top: 40px;
  }

  #textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 2;
    border-bottom: 10px solid black;
  }

  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #212529;
    text-align: left;
    background-color: #fff;
    flex-direction: column;
  }

  .description {
    white-space: pre-wrap;
    flex: 0 0 100%;
    max-width: 100%; 
  }
  

  /* .time-block {
    margin: 0 auto;
    margin-left: 20%;
    margin-right: 20%;
    flex-direction: column; 
    justify-content: start;
  }
   */

  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
    display: flex;
  }
  
  /* .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  } */
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
    font-size: xx-large;
    width: 100px;
    height: 60px;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }